{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Lista de Filmes</h2>
<hr>

<div class="row">
    {% for filme in filmes %}
        <div class="col-sm">

            <!-- Componente "cards" do Bootstrap: -->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{filme.backdrop_path}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{filme.title}}</h5>
                    <p class="card-text">{{filme.overview}}</p>
                    <hr>
                    <h4>Nota média <span class="badge bg-secondary">{{filme.vote_average}}</span></h4>
                </div>
            </div>
            <!-- Fim do componente cards -->
            <br>

        </div>
    {% endfor %}
</div>

{% endblock conteudo %}